@charset "utf-8" ;

*{margin:0; padding:0;}
body{ background-color:#fff;}

form fieldset{ margin-bottom:25px; margin-left:30px;margin-top:30px;
width: 600px;padding:20px;}
form lagend{font-size:15px;font-weight:600;}
input:disabled {background:#ddd; border:1px #ccc solid;}
input:checked + span{color:blue;}