@charset "utf-8"

*{ margin:0; padding:0;}
.box1{background-color:green; width:150px; height:150px;margin-right:20px;float:left;}
.box2{background-color:red; width:150px; height:150px;margin-right:20px;float:left;}
.box3{background-color:black; width:150px; height:150px;margin-right:20px;float:left;}
.box4{background-color:blue; width:130px; height:20px;margin-right:20px;clear:left;}


